<main class="recipe-list">
    <h1>All Recipes</h1>
    <table class="recipe-list__table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Cooking Time</th>
            <th>Main Ingredients</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each recipes}}
            <tr class="recipe-list__item">
                <td class="recipe-list__item-name"><a href="/recipes/{{slug}}">{{Name}}</a></td>
                <td>{{Cooking_Time}}</td>
                <td>{{Main_Ingredients}}</td>
                <td></td>
            </tr>
        {{/each}}
        </tbody>

    </table>

    {{#with pagination}}
        <div class="recipe-list__pagination">
            <p>Page {{currentPage}} of {{totalPages}}</p>
        </div>
    {{/with}}
</main>




